body {
  text-align: center;
  background-color: rgb(181, 184, 182);
  margin-top: 100px;
  margin-bottom: 130px;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-size: 52px;
  color: black;
}

p {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  margin-top: 85px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  font-size: 350px;
  color: black;
  border-width: 5px;
  border-radius: 40px;
  border-style: solid;
  padding-right: 50px;
  padding-left: 50px;
  border-left: 1px;
  border-right: 1px;
}

a:hover {
  background-color: rgb(255, 198, 198);
}
